a {
  text-decoration: none;
  color: black;

}

.descriptions__wrapper {
  background: rgba(1, 19, 19, .68);
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

.description-panel {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.description-card {
  z-index: 5;
  background: #eceaea;
  max-width: 900px;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

.description-card__header {
  display: flex;
  justify-content: space-around;


  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1690px) {
  .description-card {
    max-width: 1200px;

  }
}


.description-image {
  position: relative;
  left: 20px;
  top: -30px;
}

.description-image img {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: 1690px) {

    max-width: 400px;
    width: 100%;
  }
}

.description-name {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 500px;
  @media (max-width: 650px) {
    margin-top: -10px;
    text-align: center;
    width: auto;
    padding: 4px;
  }
  @media (min-width: 1690px) {
    font-size: 27px;
    margin-top: 12px;
  }
}

.description-content {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.text {
  display: flex;
  justify-content: center;
}

.text p {
  max-width: 750px;
  padding: 6px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #3C4447;

  @media (max-width: 650px) {
    font-size: 15px;

  }

  @media (min-width: 1690px) {
    font-size: 22px;
    max-width: 900px;
  }
}

.slider-images {
  width: 580px;
  height: 270px;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.description-service {
  display: flex;
  justify-content: center;
  height: 50px;
}

.separator-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.separator-block img {
  width: 35px;
  @media (min-width: 1030px) {
    display: none;

  }
}

.separator {
  height: 1px;

  width: 100%;
  border: 1px solid #C3C3C3;
}

.invalid img, .wc img, .food img {
  width: 25px;
  margin: 10px;
}

.invalid, .wc, .food {
  position: relative;
}

.invalid:hover::after, .wc:hover::after, .food:hover::after {
  content: attr(data-title);
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 230, 0.9);
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 5px 10px;
  border: 1px solid #333;
  bottom: 45px;
  left: 10px;
}

.location-address {
  display: flex;
  flex-direction: column;
  @media (min-width: 1690px) {
    font-size: 20px;
  }
}

.coordinates span, .address span {
  margin-left: 5px;
}

.website {
  margin-left: 5px;
  margin-top: 4px;
}


.button_back {
  display: inline-block;
  padding: 10px 12px;
  margin-bottom: 10px;
  margin-right: 8px;

  font-size: 15px;
  font-weight: 500;
  color: #fff;
  z-index: 3;

  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  border-radius: 100px;
  cursor: pointer;
}

.prevSlide, .nextSlide {
  cursor: pointer;
  @media (max-width: 1030px) {
    display: none;

  }
}


