.descriptions__wrapper {
  background: rgba(1, 19, 19, .68);
  width: 100%;
  min-height: 100vh;
  max-width: 1270px;
  margin: 0 auto;
  position: relative;
}

.description-panel {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.description-card {
  z-index: 5;
  background: #eceaea;
  max-width: 800px;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

.description-card__header {
  display: flex;
  justify-content: space-around;


  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
  }
}

.description-image {
  position: relative;
  left: 20px;
  top: -30px;
}

.description-image img {
  max-width: 300px;
  width: 100%;
}

.description-name {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  @media (max-width: 650px) {
    display: flex;
    justify-content: center;
    margin-top: -10px;
  }
}

.description-content {

  display: flex;
  justify-content: center;

  padding: 20px;
}

.text {
  display: flex;
  justify-content: center;
}

.text p {
  max-width: 700px;
  padding: 6px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #3C4447
}

.slider-images {
  width: 500px;
  height: 215px;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.description-service {
  display: flex;
  justify-content: center;
  height: 50px;
}

.separator {
  margin: 8px;
  border: 1px solid #C3C3C3;
}

.invalid img, .wc img, .food img {
  width: 25px;
  margin: 10px;
}

.invalid, .wc, .food {
  position: relative;
}

.invalid:hover::after, .wc:hover::after, .food:hover::after   {
  content: attr(data-title);
  position: absolute;
  z-index: 1;
  background: rgba(255,255,230,0.9);
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 5px 10px;
  border: 1px solid #333;
}